# MongoDB Environment
MONGO_INITDB_ROOT_USERNAME=to_change
MONGO_INITDB_ROOT_PASSWORD=to_change
MONGO_INITDB_DATABASE=to_change
MONGOEXPRESS_PASSWORD=to_change
MONGOEXPRESS_LOGIN=to_change
USER1=to_change
PASSWORD1=to_change